<%= form_for transaction, :multipart => true do |form| %>
  <% if transaction.errors.any? %>
    <div style="color: red" class="margin-default">
      <h2><%= pluralize(transaction.errors.count, "error") %> proibiram a importação de ser efetuada:</h2>

      <ul>
        <% transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="margin-default">
    <%= form.label :transaction_file, "Arquivo CNAB (.txt)", style: "display: block" %>
    <%= form.file_field :transaction_file %>
  </div>

  </br>

  <div class="margin-default">
    <%= form.submit "Importar", class: "button-content" %>
    <%= link_to "Voltar", transactions_path, class: "button-content error" %>
  </div>
<% end %>