<div id="<%= dom_id transaction %>">
  <p>
    <strong>Transaction type:</strong>
    <%= transaction.transaction_type_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= transaction.date %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= transaction.value %>
  </p>

  <p>
    <strong>Card:</strong>
    <%= transaction.card %>
  </p>

  <p>
    <strong>Hour:</strong>
    <%= transaction.hour %>
  </p>

  <p>
    <strong>Store:</strong>
    <%= transaction.store_id %>
  </p>

</div>
