<div id="<%= dom_id transaction %>">
  <p>
    <strong>Tipo de transação:</strong>
    <%= transaction.transaction_type.name %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= transaction.date %>
  </p>

  <p>
    <strong>Hora:</strong>
    <%= transaction.hour %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= transaction.value %>
  </p>

  <p>
    <strong>Cartão:</strong>
    <%= transaction.card %>
  </p>

  <p>
    <strong>Loja:</strong>
    <%= transaction.store.name %>
  </p>
</div>