<%= form_with(model: store) do |form| %>
  <% if store.errors.any? %>
    <div style="color: red" class="margin-default">
      <h2><%= pluralize(store.errors.count, "error") %> prohibited this store from being saved:</h2>

      <ul>
        <% store.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="margin-default">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div class="margin-default">
    <%= form.label :owner, style: "display: block" %>
    <%= form.text_field :owner %>
  </div>

  <div class="margin-default">
    <%= form.label :document, style: "display: block" %>
    <%= form.text_field :document %>
  </div>

  </br>

  <div class="margin-default">
    <%= form.submit "Confirmar", class: "button-content" %>
  </div>
<% end %>
