<div id="<%= dom_id store %>" class="margin-default">
  <p>
    <strong>Nome:</strong>
    <%= store.name %>
  </p>

  <p>
    <strong>Dono:</strong>
    <%= store.owner %>
  </p>

  <p>
    <strong>Documento:</strong>
    <%= store.document %>
  </p>

  <% if defined?(@transactions) %>
    <p>
      <strong>Transações:</strong>
    </p>

    <table class="table-content">
      <thead class="table-content-head">
        <th>Tipo</th>
        <th class="table-content-center">Data</th>
        <th class="table-content-center">Hora</th>
        <th>Valor</th>
        <th class="table-content-center">Cartão</th>
      </thead>
      <% if @transactions.any? %>
        <% balance = 0 %>
        <tbody class="table-content-body">
          <% @transactions.each do |transaction| %>
            <tr>
              <td><%= transaction.transaction_type.name %></td>
              <td class="table-content-center"><%= transaction.date.strftime("%d/%m/%Y") %></td>
              <td class="table-content-center"><%= transaction.hour.strftime("%H:%M:%S") %></td>
              <td><%= number_to_currency(transaction.value, unit: "R$", separator: ",") %></td>
              <td class="table-content-center"><%= transaction.card %></td>
            </tr>
            <% balance += (transaction.transaction_type.operation) ? transaction.value : -transaction.value %>
          <% end %>
          <tr>
            <td colspan="3">Saldo</td>
            <td colspan="2"><%= number_to_currency(balance, unit: "R$", separator: ",") %></td>
          </tr>
        </tbody>
      <% else %>
        <tbody>
          <td colspan="5">Nenhuma transação efetuada com a loja</td>
        </tbody>
      <% end %>
    </table>
  <% end %>
</div>
