<div id="<%= dom_id store %>">
  <p>
    <strong>Nome:</strong>
    <%= store.name %>
  </p>

  <p>
    <strong>Dono:</strong>
    <%= store.owner %>
  </p>

  <p>
    <strong>Documento:</strong>
    <%= store.document %>
  </p>

  <% if defined?(@transactions) %>
    <table>
      <thead>
        <th>Tipo</th>
        <th>Data</th>
        <th>Hora</th>
        <th>Valor</th>
        <th>Cartão</th>
      </thead>
      <% if @transactions.any? %>
        <% balance = 0 %>
        <tbody>
          <% @transactions.each do |transaction| %>
            <tr>
              <td><%= transaction.transaction_type.name %></td>
              <td><%= transaction.date.strftime("%d/%m/%Y") %></td>
              <td><%= transaction.hour.strftime("%H:%M:%S") %></td>
              <td><%= number_to_currency(transaction.value, unit: "R$", separator: ",") %></td>
              <td><%= transaction.card %></td>
            </tr>
            <% balance += (transaction.transaction_type.operation) ? transaction.value : -transaction.value %>
          <% end %>
          <tr>
            <td>Saldo</td>
            <td colspan="4"><%= number_to_currency(balance, unit: "R$", separator: ",") %></td>
          </tr>
        </tbody>
      <% else %>
        <tbody>
          <td colspan="5">Nenhuma transação efetuada com a loja</td>
        </tbody>
      <% end %>
    </table>
  <% end %>
</div>
