<p style="color: green" class="margin-default"><%= notice %></p>

<h1 class="margin-default">Lojas</h1>

<div id="stores">
  <table class="table-content">
    <thead class="table-content-head">
      <th>Nome</th>
      <th>Dono</th>
      <th>Documento</th>
      <th class="table-content-center">Ação</th>
    </thead>
    <tbody class="table-content-body">
      <% @stores.each do |store| %>
        <tr>
          <td><%= store.name %></td>
          <td><%= store.owner %></td>
          <td><%= store.document %></td>
          <td class="table-content-center"><%= link_to "Mostrar", store, class: "button-content" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "Criar loja", new_store_path, class: "button-content margin-default" %>
