<p style="color: green"><%= notice %></p>

<h1 class="margin-default"><%= @store.name %></h1>

<%= render @store, locals: {transactions: @transactions} %>

<div class="margin-default">
  <%= link_to "Editar", edit_store_path(@store), class: "button-content" %>
  <%= button_to "Deletar", @store, method: :delete, class: "button-content error inline" %>  
</div>

</br>

<div class="margin-default">
  <%= link_to "Voltar", stores_path, class: "button-content error" %>
</div>