<p style="color: green"><%= notice %></p>

<%= render @transaction_type %>

<div>
  <%= link_to "Edit this transaction type", edit_transaction_type_path(@transaction_type) %> |
  <%= link_to "Back to transaction types", transaction_types_path %>

  <%= button_to "Destroy this transaction type", @transaction_type, method: :delete %>
</div>
